{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/proposal-object-rest-spread",
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ]
  ]
}
