coverage/
http-requests-for-ruby-mine/
log/
node_modules/
public/react/
scripts/
spec/
test/
tmp/
.gitignore
.rubocop.yml
.simplecov
.travis.yml
/*.zip
Gemfile.lock
docker-compose.yml
Vagrantfile
yarn-error.log