# DO NOT USE ao3.org variations as that isn't actually a straightforward alias for archiveofourown.org

development:
  secret_key_base:
  database:
    :username:
    :password:
    :socket:
  :ao3api: &defaults
    :active: local
    :local:
      :url:
      :key:

test:
  secret_key_base:
  database:
    :username:
    :password:
    :socket:
  :ao3api:
    :active: local
    :local:
      :url:
      :key:

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base:
  database:
    :username:
    :password:
    :socket:
  :ao3api:
    <<: *defaults
    :active:
