/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

* {
  font-size: 14px;
}

h2 .badge {
  font-size: 12px;
  vertical-align: middle;
}

h4 .badge {
  font-size: 10px;
  vertical-align: middle;
}

.pagination {
  display: inline-flex;
  margin: 0 auto;
  margin-top: 1rem;
}

ul.pagination > li {
  @extend .page-item;
}

ul.pagination > li.active {
  @extend .page-item;
  z-index: 2;
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

ul.pagination > li > a {
  @extend .page-link;
  line-height: inherit;
}

ul.pagination > li.active > a {
  z-index: 2;
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.loading {
  width: 16px;
  height: 16px;
}

.row.collapse.show {
  display: flex;
}

/* Navbar */
.navbar-toggler {
  padding-top: 10px;
}

/* Listings */
#pagination_table {
  margin-top: 1rem;
}

article {
  padding: 5px;
  border: #95dafe solid 1px;
  border-radius: 0.2rem;
  margin-bottom: 10px;
}

section {
  margin-top: 10px;
  display: block;
  background-color: rgba(195, 241, 255, 0.2);
  border-radius: 0.2rem;
  text-decoration: none;
  margin-left: 0px;
  margin-right: 5px;
}

/* Buttons */
.btn-sm:hover {
  text-decoration: none;
}
.btn-import {
  @include button-variant(#fff, #5bc0de, #5bc0de);
  text-decoration: none;
}

.btn-dni {
  @include button-variant(#fff, #cb8498, #de90a6);
  text-decoration: none;
}

.btn-clear {
  @include button-variant(#fff, #906b59, #78594a);
  text-decoration: none;
}

/* Import statuses */
.imported {
  background-color: lightgray;
  color: #484848;
}

.do_not_import {
  background-color: #f7d0cb;
  text-decoration: none;
  color: gray;
}

.broken_link {
  background-color: #fbc680;
  border-radius: 10px;
  text-decoration: none;
  color: #494949;
}

/* Layout */
.audit {
  font-size: small;
  text-decoration: none;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 5px;

  overflow: auto;
  max-height: 400px;
  -moz-transition: height ease 0.5s;
  -o-transition: height ease 0.5s;
  -webkit-transition: height ease 0.5s;
  transition: height ease 0.5s;
}

.fa-info-circle {
  color: rgb(2, 117, 216);

  font-family: FontAwesome;
  font-size: 14px;
  height: 14px;
  line-height: 14px;
  width: 12px;
}
