///*
// * This is a manifest file that'll be compiled into application.css, which will include all the files
// * listed below.
// *
// * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
// *
// * You're free to add application-wide styles to this file and they'll appear at the bottom of the
// * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
// * files in this directory. Styles in this file should be added after the last require_* statement.
// * It is generally better to create a new file per style scope.
// *
// *= require_tree 
// *= require_self
// */
//
//@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/root";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/type";
//@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/code";
@import "../../../node_modules/bootstrap/scss/grid";
//@import "../../../node_modules/bootstrap/scss/tables";
//@import "../../../node_modules/bootstrap/scss/forms";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/transitions";
@import "../../../node_modules/bootstrap/scss/dropdown";
@import "../../../node_modules/bootstrap/scss/button-group";
//@import "../../../node_modules/bootstrap/scss/input-group";
//@import "../../../node_modules/bootstrap/scss/custom-forms";
@import "../../../node_modules/bootstrap/scss/nav";
@import "../../../node_modules/bootstrap/scss/navbar";
@import "../../../node_modules/bootstrap/scss/card";
//@import "../../../node_modules/bootstrap/scss/breadcrumb";
@import "../../../node_modules/bootstrap/scss/pagination";
@import "../../../node_modules/bootstrap/scss/badge";
//@import "../../../node_modules/bootstrap/scss/jumbotron";
@import "../../../node_modules/bootstrap/scss/alert";
@import "../../../node_modules/bootstrap/scss/progress";
//@import "../../../node_modules/bootstrap/scss/media";
//@import "../../../node_modules/bootstrap/scss/list-group";
@import "../../../node_modules/bootstrap/scss/close";
//@import "../../../node_modules/bootstrap/scss/modal";
@import "../../../node_modules/bootstrap/scss/tooltip";
@import "../../../node_modules/bootstrap/scss/popover";
//@import "../../../node_modules/bootstrap/scss/carousel";
@import "../../../node_modules/bootstrap/scss/utilities";
//@import "../../../node_modules/bootstrap/scss/print";

$importColor: #5bc0de;
$checkColor: #67956c;
$dniColor: #cb8498;
$clearColor: #906b59;

.card-title {
  @extend .card-title;
  margin-bottom: 0px;
  margin-top: .5em;
}

.card-subtitle {
  @extend .card-subtitle;
  margin-top: 10px;
}

.importing {
  @extend .progress-bar-striped;
  @extend .progress-bar-animated;
  background-color: $importColor;
}

.checking {
  @extend .progress-bar-striped;
  @extend .progress-bar-animated;
  background-color: $checkColor;
}

.alert {
  margin-top: 10px;
}

.import-button {
  min-width: 100px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}
//
//* {
//  font-size: 14px;
//}
//
.badge {
  vertical-align: middle;
}

h2 .badge {
  font-size: 10px;
  margin-top: -0.5em;
}

h3 .badge, h4 .badge {
  font-size: 8px;
}

.pagination {
  @extend .pagination;
  display: inline-flex;
  margin: 1rem auto;
}
div.page-item {
  @extend .page-item
}

///* Fix for collapse bug in Bootstrap */
//.row.collapse.show {
//  display: flex;
//}
//

/* Import statuses */
.imported {
  background-color: lightgray;
  color: #484848;
}

.do_not_import {
  background-color: #f7d0cb;
  text-decoration: none;
  color: gray;
}

.error {
  border: rgba(157, 0, 0, 0.6) 1px solid;
}

//.broken_link {
//  background-color: #fbc680;
//  border-radius: 10px;
//  text-decoration: none;
//  color: #494949;
//}
//
///* Layout */
//.audit {
//  font-size: small;
//  text-decoration: none;
//  font-weight: normal;
//  margin-top: 5px;
//  margin-bottom: 5px;
//
//  overflow: auto;
//  max-height: 400px;
//  -moz-transition: height ease 0.5s;
//  -o-transition: height ease 0.5s;
//  -webkit-transition: height ease 0.5s;
//  transition: height ease 0.5s;
//}
//
//.fa-info-circle {
//  color: rgb(2, 117, 216);
//  font-family: FontAwesome;
//  font-size: 14px;
//  height: 14px;
//  line-height: 14px;
//  width: 12px;
//}
//

.chapter-content {
  border: #0b2e13 solid 1px;
  padding: 10px;
  @include border-radius($alert-border-radius);
}

footer {
  background-color: #0275d8;
  margin-top: 20px;
  padding: 10px;
}


// MESSAGE BOARD
/* Mixins*/
@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

/* MESSAGE BOARD */
#message-board {
  margin-top: 10px;
}
.board {
  @include transition(all, .2s, linear);
}

.board-button {
  margin-top: 1.821em;
  width: 90px;
  padding: 8px 12px;
  border-radius: 5px 5px 0 0;
  right: 0;
  margin-right: -24px;
  transform: rotate(-90deg);
}

.board-messages {
  font-size: $small-font-size;
  color: $navbar-light-color;
  background-color: transparent;
  background-image: none;
  border: 1px solid $blue;
  overflow-y: auto;
  margin: 0px 5px 5px 0px;
  padding: 8px;
  float: right;
  width: 250px;
  min-height: 100%;
  border-radius: 0px 5px 5px 5px;

  & ul {
    padding-inline-start: 15px;
  }
}