default: &default
  adapter: mysql2
  encoding: utf8
  database: {{ sitekey }}
  username: {{ mysql_user }}
  password: {{ mysql_pw }}
  socket: {{ mysql_socket }}

test:
  <<: *default
  database: opendoorstempsite_test

production:
  <<: *default
